{
  "jsonRecursiveSort": true,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-sort-json"
  ],
  "singleAttributePerLine": false,
  "singleQuote": true,
  "vueIndentScriptAndStyle": false
}
